{% trans_default_domain 'admin' %}

{% use '@DarvinAdmin/content.html.twig' %}

{% set flashes   = app.flashes %}
{% set data_attr = {
    'locale':        app.request.locale,
    'trans_api_key': darvin_admin.yandexTranslateApiKey,
} %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% trans with {'%version%': constant('Darvin\\AdminBundle\\DarvinAdminBundle::VERSION')} %}layout.title{% endtrans %}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="format-detection" content="telephone=no">

        {% block stylesheets %}
            <link rel="preconnect" href="https://fonts.gstatic.com/">

            {% if app.debug %}
                <link rel="stylesheet" href="{{ asset(darvin_admin.frontendPath ~ '/assets/build-dev/app.css') }}">
            {% else %}
                <link rel="stylesheet" href="{{ asset(darvin_admin.frontendPath ~ '/assets/build/app.css') }}">
            {% endif %}
        {% endblock %}

        <script src="{{ asset(darvin_admin.frontendPath ~ '/assets/node_modules/jquery/dist/jquery.min.js') }}"></script>
    </head>
    <body class="{% block body_class %}inner-page{% endblock %}{% if not darvin_admin_visible('sidebar') %} is-hidden-sidebar{% endif %}"{% for name, value in data_attr %}{% if value %} {{ 'data-' ~ name|replace({'_': '-'}) }}="{{ value }}"{% endif %}{% endfor %}>

        {% block body %}
            <div class="l-wrapper">
                <header class="l-header">
                    <div class="header js-header">
                        <div class="header__container">
                            <button type="button" class="header__btn-sidebar-toggle js-sidebar-toggle" title="{% trans %}layout.toggle_menu{% endtrans %}">&nbsp;</button>
                            <a class="header__logo logo" href="{{ path('darvin_admin_homepage') }}">
                                {% if darvin_admin.logo %}
                                    <img src="{{ asset(darvin_admin.logo) }}" alt="">
                                {% else %}

                                    {% include '@DarvinAdmin/logo.html.twig' %}

                                {% endif %}
                            </a>

                            {% include '@DarvinAdmin/locale_switcher.html.twig' %}

                            <div class="header__search">
                                <div class="header-search">
                                    <form action="{{ path('darvin_admin_search') }}">
                                        <input class="header-search__input"
                                               type="text"
                                               placeholder="{% trans %}search.form.placeholder{% endtrans %}"
                                               name="q"
                                               required="required"
                                               {% if 'darvin_admin_search' == app.request.get('_route') %}value="{{ app.request.query.get('q') }}"{% endif %}>
                                        <button type="submit" class="header-search__btn">{% trans %}search.form.submit{% endtrans %}</button>
                                    </form>
                                </div>
                            </div>

                            {% for title, attr in {
                                ('<span>' ~ darvin_admin.projectTitle ~ '</span>'): {
                                    'accessible': true,
                                    'class':      'header__site-link',
                                    'url':        app.request.schemeAndHttpHost ~ app.request.baseUrl,
                                },
                                'configuration.action.edit.link': {
                                    'accessible': is_granted('admin_edit', 'Darvin\\ConfigBundle\\Entity\\ParameterEntity'),
                                    'class':      'header__btn-setting',
                                    'url':        path('darvin_admin_configuration'),
                                },
                                'notifications <span>23</span>': {
                                    'accessible': false,
                                    'class':      'header__notifications',
                                    'url':        '#',
                                },
                            } %}
                                {% if attr.accessible %}
                                    <a href="{{ attr.url }}"{% if attr.class is defined %} class="{{ attr.class }}"{% endif %}>
                                        {{ title|trans|raw }}
                                    </a>
                                {% endif %}
                            {% endfor %}

                            {% if app.user %}
                                <div class="header__users">
                                    <a href="{{ path('darvin_admin_security_logout') }}"><span>{{ app.user.username }}</span></a>
                                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                        <a href="{{ path('admin_user', {'_switch_user': '_exit'}) }}">
                                            <span>{% trans %}security.action.switch_user.back{% endtrans %}</span>
                                        </a>
                                    {% endif %}
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </header>
                <aside class="l-sidebar">
                    <div class="sidebar">
                        <nav class="main-menu js-main-menu">
                            <div class="main-menu__title">{% trans %}layout.main_menu{% endtrans %}</div>
                            {{ admin_menu() }}
                        </nav>
                    </div>
                </aside>
                <main class="l-main" id="js-content" {% block content_attr %}{% endblock %}>
                    {{ block('content_wrap') }}
                </main>
                <footer class="l-footer">
                    <div class="footer">
                        <div class="footer__copywrite">
                            {% trans with {
                                '%version%': constant('Darvin\\AdminBundle\\DarvinAdminBundle::VERSION'),
                                '%year%':    'now'|date('Y'),
                            } %}
                                layout.copyright
                            {% endtrans %}
                        </div>
                        <div class="footer__menu">
                            <nav class="footer-menu">
                                <ul>

                                    {% for name in [
                                        'support',
                                        'for_customers',
                                        'contacts',
                                    ] %}
                                        <li>
                                            <a href="{{ path('darvin_admin_page', {'slug': name|replace({'_': '-'})}) }}">
                                                {{ ('layout.footer.menu.' ~ name)|trans }}
                                            </a>
                                        </li>
                                    {% endfor %}

                                    <li>{{ image_archive_build_form() }}</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </footer>
            </div>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
            <script src="{{ path('bazinga_jstranslation_js', {'domain': 'admin'}) }}?locales=en,{{ app.request.locale }}"></script>

            {% if app.debug %}
                <script src="{{ asset(darvin_admin.frontendPath ~ '/assets/build-dev/app.js') }}"></script>
            {% else %}
                <script src="{{ asset(darvin_admin.frontendPath ~ '/assets/build/app.js') }}"></script>
            {% endif %}

            <script src="{{ asset('bundles/fosckeditor/ckeditor.js') }}"></script>

            {% if flashes is not empty %}
                <script>
                    {% for type, messages in flashes %}
                        {% for message in messages %}
                            App.notify('{{ message|e('js') }}', '{{ type }}');
                        {% endfor %}
                    {% endfor %}
                </script>
            {% endif %}
        {% endblock %}

    </body>
</html>
