{% trans_default_domain 'admin' %}

{% use '@DarvinAdmin/content.html.twig' %}

{% set body_classes = [] %}
{% set flashes      = app.flashes %}
{% set data_attr    = {
    'locale': app.request.locale,
} %}

{% for class in {
    'filter':      'is-hidden-filter',
    'formSpoiler': 'is-hidden-form-spoiler',
    'sidebar':     'is-hidden-sidebar',
}|filter((class, key) => not darvin_admin_visible(key)) %}

    {% set body_classes = body_classes|merge([class]) %}

{% endfor %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% trans with {'%version%': constant('Darvin\\AdminBundle\\DarvinAdminBundle::VERSION')} %}layout.title{% endtrans %}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="format-detection" content="telephone=no">

        {% block stylesheets %}
            <link rel="preconnect" href="https://fonts.gstatic.com/">

            {% if app.debug %}
                <link rel="stylesheet" href="{{ asset(darvin_admin.frontendPath ~ '/assets/build-dev/app.css') }}">
            {% else %}
                <link rel="stylesheet" href="{{ asset(darvin_admin.frontendPath ~ '/assets/build/app.css') }}">
            {% endif %}
        {% endblock %}

        {% block extra_stylesheets %}
            {% for style in darvin_admin.styles %}
                <link rel="stylesheet" href="{{ '/' in style ? asset(style) : path(style) }}">
            {% endfor %}
        {% endblock %}

        <script src="{{ asset(darvin_admin.frontendPath ~ '/assets/node_modules/jquery/dist/jquery.min.js') }}"></script>

        {% if darvin_admin.supportChatId is not same as(null) %}
            <script src="//code-ya.jivosite.com/widget/{{ darvin_admin.supportChatId }}" async></script>
        {% endif %}

        {% if darvin_admin.yandexMetrikaId is not same as(null) %}
            <!-- Yandex.Metrika counter -->
            <script type="text/javascript" >
                (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
                    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
                (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

                ym({{ darvin_admin.yandexMetrikaId }}, "init", {
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true,
                    trackHash:true
                });
            </script>
            <noscript><div><img src="https://mc.yandex.ru/watch/{{ darvin_admin.yandexMetrikaId }}" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
            <!-- /Yandex.Metrika counter -->
        {% endif %}

    </head>
    <body class="{% block body_class %}inner-page{% endblock %}{% if body_classes is not empty %} {{ body_classes|join(' ') }}{% endif %}"{% for name, value in data_attr|filter(value => value) %} {{ 'data-' ~ name|replace({'_': '-'}) }}="{{ value }}"{% endfor %}>

        {% if darvin_admin.supportChatId is not same as(null) %}
            <buttton class="btn-support-chat js-btn-support-chat">
                <img src="{{ asset(darvin_admin.frontendPath ~ '/assets/images/icons/chat.svg') }}" alt="support">
                <span data-counter>0</span>
            </buttton>
        {% endif %}

        {% if app.debug %}
            <script src="{{ asset(darvin_admin.frontendPath ~ '/assets/build-dev/theme.js') }}"></script>
        {% else %}
            <script src="{{ asset(darvin_admin.frontendPath ~ '/assets/build/theme.js') }}"></script>
        {% endif %}
        {% block body %}
            <div class="l-wrapper">
                <header class="l-header">
                    <div class="header js-header">
                        <div class="header__container">
                            <button type="button" class="header__btn-sidebar-toggle js-sidebar-toggle" title="{% trans %}layout.toggle_menu{% endtrans %}">&nbsp;</button>
                            <a class="header__logo logo" href="{{ path('darvin_admin_homepage') }}">
                                {% if darvin_admin.logo %}
                                    <img src="{{ asset(darvin_admin.logo) }}" alt="">
                                {% else %}

                                    {% include '@DarvinAdmin/logo.html.twig' %}

                                {% endif %}
                            </a>

                            {% include '@DarvinAdmin/locale_switcher.html.twig' %}

                            <div class="header__search">
                                <div class="header-search">
                                    <form action="{{ path('darvin_admin_search') }}">
                                        <input class="header-search__input"
                                               type="text"
                                               placeholder="{% trans %}search.form.placeholder{% endtrans %}"
                                               name="q"
                                               required="required"
                                               {% if 'darvin_admin_search' == app.request.get('_route') %}value="{{ app.request.query.get('q') }}"{% endif %}>
                                        <button type="submit" class="header-search__btn">{% trans %}search.form.submit{% endtrans %}</button>
                                    </form>
                                </div>
                            </div>

                            {{ admin_cache_clear_form() }}

                            {% for title, attr in {
                                ('<span>' ~ darvin_admin.projectTitle ~ '</span>'): {
                                    'class':     'header__site-link',
                                    'show':      true,
                                    'translate': false,
                                    'url':       app.request.schemeAndHttpHost ~ app.request.baseUrl,
                                },
                                'configuration.action.edit.link': {
                                    'class':     'header__btn-setting',
                                    'show':      is_granted('admin_edit', 'Darvin\\ConfigBundle\\Entity\\ParameterEntity'),
                                    'translate': true,
                                    'url':       path('darvin_admin_configuration'),
                                },
                                'notifications <span>23</span>': {
                                    'class':     'header__notifications',
                                    'show':      false,
                                    'translate': false,
                                    'url':       '#',
                                },
                            }|filter(attr => attr.show) %}
                                <a href="{{ attr.url }}"{% if attr.class is defined %} class="{{ attr.class }}"{% endif %}>
                                    {{ attr.translate ? title|trans|raw : title|raw }}
                                </a>
                            {% endfor %}

                            {% if app.user %}
                                <div class="header__users">
                                    <div class="header-user">
                                        <span class="header-user__curr"><span>{{ app.user.username }}</span></span>
                                        <div class="header-user__dropdown">
                                            <ul>
                                                {% for title, attr in {
                                                    'profile': {
                                                        'show': is_granted('admin_edit', app.user),
                                                        'url':  admin_route_exists(app.user, 'edit') ? admin_path(app.user, null, 'edit') : null,
                                                    },
                                                    'previous_user': {
                                                        'show': is_granted('ROLE_PREVIOUS_ADMIN'),
                                                        'url':  admin_route_exists(app.user, 'index') ? admin_path(app.user, null, 'index', {'_switch_user': '_exit'}) : null,
                                                    },
                                                    'logout': {
                                                        'show': true,
                                                        'url':  path('darvin_admin_security_logout'),
                                                    },
                                                }|filter(attr => attr.show and attr.url) %}
                                                    <li><a href="{{ attr.url }}">{{ ('layout.header.user.' ~ title)|trans }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </header>
                <aside class="l-sidebar">
                    <div class="sidebar">
                        <nav class="main-menu js-main-menu">
                            <div class="main-menu__title">{% trans %}layout.main_menu{% endtrans %}</div>
                            {{ admin_menu() }}
                        </nav>
                    </div>
                </aside>
                <main class="l-main" id="js-content" {% block content_attr %}{% endblock %}>
                    {{ block('content_wrap') }}
                </main>
                <footer class="l-footer">
                    <div class="footer">
                        <div class="footer__copywrite">
                            {% trans with {
                                '%version%': constant('Darvin\\AdminBundle\\DarvinAdminBundle::VERSION'),
                                '%year%':    'now'|date('Y'),
                            } %}
                                layout.copyright
                            {% endtrans %}
                        </div>
                        <div class="footer__menu">
                            <nav class="footer-menu">
                                <ul>

                                    {#% for name in [
                                        'support',
                                        'for_customers',
                                        'contacts',
                                    ] %#}
                                    {% for name in [
                                        'contacts',
                                    ] %}
                                        <li>
                                            <a href="{{ path('darvin_admin_page', {'slug': name|replace({'_': '-'})}) }}">
                                                {{ ('layout.footer.menu.' ~ name)|trans }}
                                            </a>
                                        </li>
                                    {% endfor %}

                                    <li>{{ image_archive_build_form() }}</li>
                                </ul>
                            </nav>
                        </div>
                        <div class="theme-switcher" id="dark-theme-switch">
                            <label class="custom-tumbler">
                                <input type="checkbox" class="js-file-exterminate-check">
                                <span></span>
                            </label>
                            <span>{% trans %}layout.dark_theme{% endtrans %}</span>
                        </div>
                    </div>
                </footer>

                {{ darvin_admin_push_widget() }}

            </div>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
            <script src="{{ path('bazinga_jstranslation_js', {'domain': 'admin'}) }}?locales=en{% if 'en' != app.request.locale %},{{ app.request.locale }}{% endif %}"></script>
            <script src="{{ path('bazinga_jstranslation_js', {'domain': 'validators'}) }}?locales=en{% if 'en' != app.request.locale %},{{ app.request.locale }}{% endif %}"></script>

            {% if app.debug %}
                <script src="{{ asset(darvin_admin.frontendPath ~ '/assets/build-dev/app.js') }}"></script>
            {% else %}
                <script src="{{ asset(darvin_admin.frontendPath ~ '/assets/build/app.js') }}"></script>
            {% endif %}

            <script src="{{ asset('bundles/fosckeditor/ckeditor.js') }}"></script>

            {% if flashes is not empty %}
                <script>
                    {% for type, messages in flashes %}
                        {% for message in messages %}
                            App.notify('{{ message|e('js') }}', '{{ type }}');
                        {% endfor %}
                    {% endfor %}
                </script>
            {% endif %}
        {% endblock %}

        {% block extra_javascripts %}
            {% for script in darvin_admin.scripts %}
                <script src="{{ '/' in script ? asset(script) : path(script) }}"></script>
            {% endfor %}
        {% endblock %}

    </body>
</html>
