{% extends '::base.html.twig' %}

{% set flashes = app.session.flashBag.all %}

{% trans_default_domain 'admin' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/a2lixtranslationform/css/a2lix_translation_default.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/darvinadmin/stylesheets/dropzone.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/darvinadmin/stylesheets/fancybox.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/darvinadmin/stylesheets/app.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <noscript>
        {% for type, messages in flashes %}
            <ul class="{{ type }}">
                {% for message in messages %}
                    <li>{{ message | trans }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </noscript>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

        {{ admin_menu() }}

        {% if 'darvin_admin_configuration' != app.request.get('_route') %}
            <a href="{{ path('darvin_admin_configuration') }}">{% trans %}configuration.action.edit.link{% endtrans %}</a>
        {% else %}
            <span>{% trans %}configuration.action.edit.link{% endtrans %}</span>
        {% endif %}

        {% set administrator_index_url = admin_path(
            'Darvin\\AdminBundle\\Entity\\Administrator',
            constant('Darvin\\AdminBundle\\Route\\AdminRouter::TYPE_INDEX')
        ) %}

        {% if administrator_index_url != app.request.requestUri %}
            <a href="{{ administrator_index_url }}">{% trans %}administrator.action.index.link{% endtrans %}</a>
        {% else %}
            <span>{% trans %}administrator.action.index.link{% endtrans %}</span>
        {% endif %}

        {% set administrator_edit_url = admin_path(app.user, constant('Darvin\\AdminBundle\\Route\\AdminRouter::TYPE_EDIT')) %}

        {% if administrator_edit_url != app.request.requestUri %}
            <a href="{{ administrator_edit_url }}">{{ app.user.username }}</a>
        {% else %}
            <span>{{ app.user.username }}</span>
        {% endif %}

        <a href="{{ path('darvin_admin_security_logout') }}">{% trans %}security.action.logout.link{% endtrans %}</a>

        {% block breadcrumbs %}{% endblock %}

    {% endif %}

    <h1>{% block heading %}{% endblock %}</h1>

    {% block content %}{% endblock %}

    <span>
        {% trans with { '%number%': constant('Darvin\\AdminBundle\\DarvinAdminBundle::VERSION') } %}interface.version{% endtrans %}
    </span>
    <a href="{{ darvin_admin_project_url }}">{{ darvin_admin_project_title }}</a>
{% endblock %}

{% block javascripts %}
    <script>
        var YANDEX_TRANSLATE_API_KEY = '{{ darvin_admin_yandex_translate_api_key }}';
    </script>
    <script src="{{ asset('bundles/darvinadmin/scripts/jquery/jquery.js') }}"></script>
    <script src="{{ asset('bundles/darvinadmin/scripts/jquery/noty.js') }}"></script>

    <script src="{{ asset('bundles/darvinadmin/scripts/dropzone.js') }}"></script>
    <script src="{{ asset('bundles/darvinadmin/scripts/jquery/fancybox.js') }}"></script>

    <script src="{{ asset('bundles/a2lixtranslationform/js/a2lix_translation_default.js') }}"></script>
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script src="{{ path('bazinga_jstranslation_js', { 'domain': 'admin' }) }}"></script>

    <script src="{{ asset('bundles/darvinadmin/scripts/globals.js') }}"></script>
    <script src="{{ asset('bundles/darvinadmin/scripts/yandex-translator.js') }}"></script>
    <script src="{{ asset('bundles/darvinadmin/scripts/dropzone-init.js') }}"></script>
    <script src="{{ asset('bundles/darvinadmin/scripts/fancybox-init.js') }}"></script>
    <script src="{{ asset('bundles/darvinadmin/scripts/images.js') }}"></script>
    <script src="{{ asset('bundles/darvinadmin/scripts/noty-init.js') }}"></script>
    <script src="{{ asset('bundles/darvinadmin/scripts/form-collections.js') }}"></script>
    <script src="{{ asset('bundles/darvinadmin/scripts/property-forms.js') }}"></script>
    <script src="{{ asset('bundles/darvinadmin/scripts/translations-sync.js') }}"></script>
    <script>
        $.fancybox.defaults.locale = '{{ app.request.locale }}';
        Translator.locale = '{{ app.request.locale }}';
    </script>
    <script>
        {% for type, messages in flashes %}
            {% for message in messages %}
                noty({
                    text: '{{ message | trans }}',
                    type: '{{ type }}'
                });
            {% endfor %}
        {% endfor %}
    </script>
{% endblock %}
