{%- set cookie_names = {
    sidebar: 'DARVINADMINSIDEBAR',
} -%}
{%- set flashes = app.session.flashBag.all -%}
{%- set sidebar_active = app.request.cookies.get(cookie_names.sidebar) -%}

{%- trans_default_domain 'admin' -%}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>

            {%- block title -%}
                {% trans with { '%version%': constant('Darvin\\AdminBundle\\DarvinAdminBundle::VERSION') } %}layout.title{% endtrans %}
            {%- endblock -%}

        </title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {% block stylesheets %}
            {% stylesheets
                'bundles/darvinadmin/styles/bootstrap.css'
                'bundles/darvinadmin/styles/bootstrap-select.css'
                'bundles/darvinadmin/styles/jquery-jscrollpane.css'
                'bundles/darvinadmin/styles/jquery-ui.css'
                'bundles/darvinadmin/styles/jquery-ui-timepicker-addon.css'

                'bundles/darvinadmin/styles/dropzone.css'
                'bundles/darvinadmin/styles/fancybox.css'

                'bundles/a2lixtranslationform/css/a2lix_translation_default.css'
                filter='?cssembed'
                filter='cssrewrite'
                filter='?yui_css'
                output='assets/admin/styles/app.css'
            %}
                <link href="{{ asset_url }}" rel="stylesheet">
            {% endstylesheets %}
            <link href="{{ asset(darvin_admin_visual_assets_path ~ '/styles/app.css') }}" rel="stylesheet">
        {% endblock %}

    </head>
    <body>
        <noscript>
            {% for type, messages in flashes %}
                <ul class="{{ type }}">
                    {% for message in messages %}
                        <li>{{ message | trans }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </noscript>

        {% block body %}
            <div class="container-fluid">
                <div class="container-fluid header_wrap">
                    <div class="row header">
                        <div class="col-md-3 col-lg-3 header_left">
                            <a href="{{ path('darvin_admin_homepage') }}" class="logo">
                                <img src="{{ asset(darvin_admin_visual_assets_path ~ '/images/logo_cms.png') }}"
                                     title="{% trans %}homepage.action.homepage.link{% endtrans %}"/>
								<span>{% trans %}layout.logo{% endtrans %}</span>
                            </a>
                        </div>
                        <div class="col-md-9 col-lg-9 header_right">

                            {% set menu = {
                                'security.action.logout.link': {
                                    'accessible': true,
                                    'class':      'logout',
                                    'url':        path('darvin_admin_security_logout'),
                                },
                                'user.action.index.link': {
                                    'accessible': is_granted(
                                        constant('Darvin\\AdminBundle\\Security\\Permissions\\Permission::VIEW'),
                                        app.user
                                    ),
                                    'class': 'link_users',
                                    'url':   admin_path(
                                        app.user,
                                        constant('Darvin\\AdminBundle\\Route\\AdminRouter::TYPE_INDEX')
                                    ),
                                },
                                'configuration.action.edit.link': {
                                    'accessible': true,
                                    'class':      'link_main_option',
                                    'url':        path('darvin_admin_configuration'),
                                },
                                'translation.action.index.link': {
                                    'accessible': true,
                                    'class':      'link_translete_manager',
                                    'url':        path('lexik_translation_grid'),
                                },
                            } %}

                            {% for title, attr in menu if attr.accessible %}
                                <a href="{{ attr.url }}" class="{{ attr.class }}">{{ title | trans }}</a>
                            {% endfor %}

                            {{ admin_cache_clear_form() }}

                            <a href="{{ darvin_admin_project_url }}" class="link_site">{{ darvin_admin_project_title }}</a>

                            {% include 'DarvinAdminBundle::locale_switcher.html.twig' %}

                        </div>
                    </div>
                </div>
                <div class="main_wrap{% if sidebar_active %} active{% endif %}">
                    <div class="main">
                        <div class="sidebar_wrap{% if sidebar_active %} active{% endif %}">
                            <span id="sidebar_switcher"{% if sidebar_active %} class="active"{% endif %}>
                                {{ (sidebar_active ? 'layout.menu.collapse' : 'layout.menu.expand') | trans }}
                            </span>
                            <div class="sidebar_wrap_fix">
                                <div class="sidebar">

                                    {{ admin_menu() }}

                                </div>
                            </div>
                        </div>
                        <div class="content_wrap{% if app.request.cookies.get(cookie_names.sidebar) %} active{% endif %}">
                            <div class="content">

                                {% block breadcrumbs %}{% endblock %}

                                <h1>{% block heading %}{% endblock %}</h1>

                                {% block content %}{% endblock %}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer container-fluid">
                    <div class="row">
                        <div class="col-md-5 col-lg-4">
                            <p class="copywrite">
                                {% trans with {
                                    '%current_year%': 'now' | date('Y'),
                                    '%version%':      constant('Darvin\\AdminBundle\\DarvinAdminBundle::VERSION'),
                                } %}
                                    layout.copyright
                                {% endtrans %}
                            </p>
                        </div>
                        <div class="col-md-7 col-lg-8">
                            <div class="footer_contacts">
                                <div class="mail">
                                    <span>{% trans %}layout.footer.support.label{% endtrans %}</span>
                                    <a href="mailto:{% trans %}layout.footer.support.email{% endtrans %}">
                                        {% trans %}layout.footer.support.email{% endtrans %}
                                    </a>
                                </div>
                                {% trans %}layout.footer.phone_numbers{% endtrans %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block javascripts %}
            <script>
                var COOKIE_SIDEBAR           = '{{ cookie_names.sidebar }}';
                var LOCALE                   = '{{ app.request.locale }}';
                var YANDEX_TRANSLATE_API_KEY = '{{ darvin_admin_yandex_translate_api_key }}';
            </script>
            {% javascripts
                '@DarvinAdminBundle/Resources/scripts/jquery/jquery.js'
                '@DarvinAdminBundle/Resources/scripts/jquery/ui/ui.js'
                '@DarvinAdminBundle/Resources/scripts/jquery/ui/datepicker-ru.js'
                '@DarvinAdminBundle/Resources/scripts/jquery/ui/timepicker-addon.js'
                '@DarvinAdminBundle/Resources/scripts/jquery/ui/timepicker-ru.js'

                '@DarvinAdminBundle/Resources/scripts/dropzone.js'
                '@DarvinAdminBundle/Resources/scripts/jquery/bootstrap.js'
                '@DarvinAdminBundle/Resources/scripts/jquery/cookie.js'
                '@DarvinAdminBundle/Resources/scripts/jquery/fancybox.js'
                '@DarvinAdminBundle/Resources/scripts/jquery/jscrollpane.js'
                '@DarvinAdminBundle/Resources/scripts/jquery/mousewheel.js'
                '@DarvinAdminBundle/Resources/scripts/jquery/noty/noty.js'
                '@DarvinAdminBundle/Resources/scripts/jquery/noty/layouts/top.js'
                '@DarvinAdminBundle/Resources/scripts/jquery/noty/themes/bootstrap.js'
                '@DarvinAdminBundle/Resources/scripts/jquery/word-and-character-counter.js'

                'bundles/a2lixtranslationform/js/a2lix_translation_default.js'
                'bundles/bazingajstranslation/js/translator.min.js'

                '@DarvinAdminBundle/Resources/scripts/globals.js'
                '@DarvinAdminBundle/Resources/scripts/yandex-translator.js'

                '@DarvinAdminBundle/Resources/scripts/ajax-forms.js'
                '@DarvinAdminBundle/Resources/scripts/counter-init.js'
                '@DarvinAdminBundle/Resources/scripts/date-time-pickers-init.js'
                '@DarvinAdminBundle/Resources/scripts/dropzone-init.js'
                '@DarvinAdminBundle/Resources/scripts/fancybox-init.js'
                '@DarvinAdminBundle/Resources/scripts/form-collections.js'
                '@DarvinAdminBundle/Resources/scripts/images.js'
                '@DarvinAdminBundle/Resources/scripts/master-slave-inputs.js'
                '@DarvinAdminBundle/Resources/scripts/noty-init.js'
                '@DarvinAdminBundle/Resources/scripts/property-forms.js'
                '@DarvinAdminBundle/Resources/scripts/translations-sync.js'

                '@DarvinAdminBundle/Resources/scripts/app.js'
                filter='?closure'
                output='assets/admin/scripts/app.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script src="{{ path('bazinga_jstranslation_js', { 'domain': 'admin' }) }}?locales=en,{{ app.request.locale }}"></script>
            <script>
                $.fancybox.defaults.locale = '{{ app.request.locale }}';
                Translator.locale = '{{ app.request.locale }}';

                {% for type, messages in flashes %}
                    {% for message in messages %}
                        noty({
                            text: '{{ message | trans }}',
                            type: '{{ type }}'
                        });
                    {% endfor %}
                {% endfor %}
            </script>
        {% endblock %}

    </body>
</html>
