{%- set flashes = app.session.flashBag.all -%}

{%- trans_default_domain 'admin' -%}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>

            {%- block title -%}
                {% trans with { '%version%': constant('Darvin\\AdminBundle\\DarvinAdminBundle::VERSION') } %}layout.title{% endtrans %}
            {%- endblock -%}

        </title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {% block stylesheets %}
            {# Core #}
            <link href="{{ asset('bundles/darvinadmin/stylesheets/bootstrap.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/darvinadmin/stylesheets/jquery-ui.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/darvinadmin/stylesheets/jquery-ui-timepicker-addon.css') }}" rel="stylesheet">
            {# Vendor #}
            <link href="{{ asset('bundles/darvinadmin/stylesheets/dropzone.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/darvinadmin/stylesheets/fancybox.css') }}" rel="stylesheet">
            {# Third party bundles #}
            <link href="{{ asset('bundles/a2lixtranslationform/css/a2lix_translation_default.css') }}" rel="stylesheet">
            {# App #}
            <link href="{{ asset('bundles/darvinadmin/stylesheets/app.css') }}" rel="stylesheet" media="screen, projection">
        {% endblock %}

    </head>
    <body>
        <!-- Flash messages -->
        {#<noscript>#}
            {#{% for type, messages in flashes %}#}
                {#<ul class="{{ type }}">#}
                    {#{% for message in messages %}#}
                        {#<li>{{ message | trans }}</li>#}
                    {#{% endfor %}#}
                {#</ul>#}
            {#{% endfor %}#}
        {#</noscript>#}
        <!--/ Flash messages -->

        {% block body %}
            <div class="container-fluid">
                <div class="container">
                    <div class="row header">
                        <div class="col-lg-7 header_left">
                            <a href="{{ path('darvin_admin_homepage') }}" class="logo">
                                <img src="{{ asset('bundles/darvinadmin/images/logo_cms.png') }}"
                                     alt="{% trans %}homepage.action.homepage.link{% endtrans %}"
                                     title="{% trans %}homepage.action.homepage.link{% endtrans %}"/>
                            </a>
                            {#<a href="" class="link_site_stat">Статистика сайта</a>#}
                            <a href="{{ darvin_admin_project_url }}" class="link_site">{{ darvin_admin_project_title }}</a>
                        </div>
                        <div class="col-lg-5 header_right">

                            {% set menu = {
                                'configuration.action.edit.link': {
                                    'accessible': true,
                                    'class':      'link_main_option',
                                    'url':        path('darvin_admin_configuration'),
                                },
                                'translation.action.index.link': {
                                    'accessible': false,
                                    'class':      '',
                                    'url':        path('lexik_translation_grid'),
                                },
                                'administrator.action.index.link': {
                                    'accessible': is_granted(
                                        constant('Darvin\\AdminBundle\\Security\\Permissions\\Permission::VIEW'),
                                        constant('Darvin\\AdminBundle\\Entity\\Administrator::ADMINISTRATOR_CLASS')
                                    ),
                                    'class': 'link_users',
                                    'url':   admin_path(
                                        constant('Darvin\\AdminBundle\\Entity\\Administrator::ADMINISTRATOR_CLASS'),
                                        constant('Darvin\\AdminBundle\\Route\\AdminRouter::TYPE_INDEX')
                                    ),
                                },
                                'security.action.logout.link': {
                                    'accessible': true,
                                    'class':      'logout',
                                    'url':        path('darvin_admin_security_logout'),
                                },
                            } %}

                            {% for title, attr in menu if attr.accessible %}
                                <a href="{{ attr.url }}" class="{{ attr.class }}">{{ title | trans }}</a>
                            {% endfor %}
                            <!-- Cache clear form -->
                            {#{{ admin_cache_clear_form() }}#}
                            <!--/ Cache clear form -->
                            <!-- Locale switch links -->
                            {#
                            {% if darvin_admin_locales | length > 1 %}
                                <ul>
                                    {% for locale in darvin_admin_locales %}
                                        <li>
                                            {% if locale == app.request.locale %}
                                                <span>{{ ('locale.' ~ locale) | trans }}</span>
                                            {% else %}

                                                {% set url = path(
                                                    app.request.attributes.get('_route'),
                                                    app.request.attributes.get('_route_params') | merge({ '_locale': locale }) | merge(app.request.query.all)
                                                ) %}

                                                <a href="{{ url }}">{{ ('locale.' ~ locale) | trans }}</a>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            #}
                            <!--/ Locale switch links -->
                        </div>
                    </div>
                </div>
                <div class="main_wrap">
                    <div class="main">
                        <div class="sidebar_wrap">
                            <span id="sidebar_switcher">Показать меню</span>
                            <div class="sidebar_wrap_fix">
                                <div class="sidebar">
                                    <!-- Левое меню -->
                                    {{ admin_menu() }}
                                    <!--/ Левое меню -->
                                </div>
                            </div>
                        </div>
                        <div class="content_wrap">
                            {% block breadcrumbs %}{% endblock %}

                            <h1>{% block heading %}{% endblock %}</h1>

                            {% block content %}{% endblock %}

                        </div>
                    </div>
                </div>
                <div class="footer container-fluid">
                    <div class="row">
                        <div class="col-md-5 col-lg-4">
                            <p class="copywrite">
                                {% trans with {
                                    '%current_year%': 'now' | date('Y'),
                                    '%version%':      constant('Darvin\\AdminBundle\\DarvinAdminBundle::VERSION'),
                                } %}
                                    layout.copyright
                                {% endtrans %}
                            </p>
                        </div>
                        <div class="col-md-7 col-lg-8">
                            <div class="footer_contacts">
                                <div class="mail">
                                    <span>Техническая поддержка</span>
                                    <a href="mailto:support@darvin-studio.ru">support@darvin-studio.ru</a>
                                </div>
                                <div class="phone">
                                    <span>г. Ковров</span>
                                    <a href="tel:+7 (49232) 4-16-14">+7 (49232) 4-16-14</a>
                                </div>
                                <div class="phone">
                                    <span>г. Владимир</span>
                                    <a href="tel:+7 (4922) 32-32-32">+7 (4922) 32-32-32</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block javascripts %}
            <script>
                var LOCALE                   = '{{ app.request.locale }}';
                var YANDEX_TRANSLATE_API_KEY = '{{ darvin_admin_yandex_translate_api_key }}';
            </script>
            {# Core #}
            <script src="{{ asset('bundles/darvinadmin/scripts/jquery/jquery.js') }}"></script>
            <script src="{{ asset('bundles/darvinadmin/scripts/jquery/ui/ui.js') }}"></script>
            <script src="{{ asset('bundles/darvinadmin/scripts/jquery/ui/datepicker-ru.js') }}"></script>
            <script src="{{ asset('bundles/darvinadmin/scripts/jquery/ui/timepicker-addon.js') }}"></script>
            <script src="{{ asset('bundles/darvinadmin/scripts/jquery/ui/timepicker-ru.js') }}"></script>
            {# Vendor #}
            <script src="{{ asset('bundles/darvinadmin/scripts/bootstrap.js') }}"></script>
            <script src="{{ asset('bundles/darvinadmin/scripts/dropzone.js') }}"></script>
            <script src="{{ asset('bundles/darvinadmin/scripts/jquery/fancybox.js') }}"></script>
            <script src="{{ asset('bundles/darvinadmin/scripts/jquery/noty.js') }}"></script>
            {# Third party bundles #}
            <script src="{{ asset('bundles/a2lixtranslationform/js/a2lix_translation_default.js') }}"></script>
            <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
            <script src="{{ path('bazinga_jstranslation_js', { 'domain': 'admin' }) }}?locales=en,{{ app.request.locale }}"></script>
            {# App modules #}
            <script src="{{ asset('bundles/darvinadmin/scripts/globals.js') }}"></script>
            <script src="{{ asset('bundles/darvinadmin/scripts/yandex-translator.js') }}"></script>
            <script src="{{ asset('bundles/darvinadmin/scripts/ajax-forms.js') }}"></script>
            <script src="{{ asset('bundles/darvinadmin/scripts/date-time-pickers-init.js') }}"></script>
            <script src="{{ asset('bundles/darvinadmin/scripts/dropzone-init.js') }}"></script>
            <script src="{{ asset('bundles/darvinadmin/scripts/fancybox-init.js') }}"></script>
            <script src="{{ asset('bundles/darvinadmin/scripts/images.js') }}"></script>
            <script src="{{ asset('bundles/darvinadmin/scripts/noty-init.js') }}"></script>
            <script src="{{ asset('bundles/darvinadmin/scripts/form-collections.js') }}"></script>
            <script src="{{ asset('bundles/darvinadmin/scripts/property-forms.js') }}"></script>
            <script src="{{ asset('bundles/darvinadmin/scripts/translations-sync.js') }}"></script>
            {# App #}
            <script src="{{ asset('bundles/darvinadmin/scripts/app.js') }}"></script>
            <script>
                $.fancybox.defaults.locale = '{{ app.request.locale }}';
                Translator.locale = '{{ app.request.locale }}';
            </script>
            <script>
                {% for type, messages in flashes %}
                    {% for message in messages %}
                        noty({
                            text: '{{ message | trans }}',
                            type: '{{ type }}'
                        });
                    {% endfor %}
                {% endfor %}
            </script>
        {% endblock %}

    </body>
</html>
