{% trans_default_domain 'admin' %}

{% if darvin_admin_locales|length > 1 %}
    <div class="lang_switcher">
        <span>{% trans %}layout.locale_switcher.title{% endtrans %}</span>
        <ul>
            {% for locale in darvin_admin_locales %}
                <li>
                    {% if locale == app.request.locale %}
                        <span title="{{ ('locale.' ~ locale)|trans }}">{{ locale|capitalize }}</span>
                    {% else %}

                        {% set url = path(
                            app.request.attributes.get('_route'),
                            app.request.attributes.get('_route_params')|merge({'_locale': locale})|merge(app.request.query.all)
                        ) %}

                        <a href="{{ url }}" title="{{ ('locale.' ~ locale)|trans }}">{{ locale|capitalize }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
