{% import _self as that %}

{% macro item(locale) %}

    {% set translation = ('locale.' ~ locale)|trans({}, 'admin', locale) %}

    <img src="{{ asset(darvin_admin.frontendPath ~ '/assets/images/icons/lang-' ~ locale ~ '.svg') }}" alt="{{ translation }}">
    {{ translation }}
{% endmacro %}

{% if darvin_admin.locales|length > 1 %}
    <div class="header__lang-switch">
        <div class="header-lang">
            <div class="header-lang__current">
                {{ that.item(app.request.locale) }}
            </div>
            <div class="header-lang__dropdown">
                {% for locale in darvin_admin.locales %}

                    {% set url = path(
                        app.request.attributes.get('_route'),
                        app.request.attributes.get('_route_params')|merge({'_locale': locale})|merge(app.request.query.all)
                    ) %}

                    <a class="header-lang__item" href="{{ url }}">
                        {{ that.item(locale) }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
