{% trans_default_domain 'admin' %}

{% import _self as menu %}

{% macro render(items) %}

    {% import _self as menu %}

    <ul>
        {% for item in items %}

            {#{% set index_url = item.indexUrl %}#}
            {#{% set attr = item.menuItemAttributes %}#}
            {#{% set icon = attr.left_menu_icon#}
                {#?: (item.childMenuItems is not empty ? darvin_admin_visual_assets_path ~ '/images/left_menu_' ~ attr.name ~ '.png' : null)#}
            {#%}#}

            <li class="left_menu_{{ item.name }}">
                {#{% if icon %}#}
                    {#<a href="{{ index_url }}" class="img"><img src="{{ asset(icon) }}" alt="" /></a>#}
                {#{% endif %}#}
                <a href="{{ item.indexUrl }}">{{ item.indexTitle|trans }}</a>
                {#{% if attr.associated_object_class#}
                    {#and utils_new_objects_countable(attr.associated_object_class)#}
                    {#and utils_count_new_objects(attr.associated_object_class)#}
                {#%}#}
                    {#<a href="{{ index_url }}" class="count">{{ utils_count_new_objects(attr.associated_object_class) }}</a>#}
                {#{% endif %}#}
                {% if item.children is not empty %}

                    {{ menu.render(item.children) }}

                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

<div class="left_menu">

    {{ menu.render(items) }}

</div>
