{% trans_default_domain 'admin' %}

{% import _self as that %}

{% macro render(items) %}

    {% import _self as that %}

    <ul>
        {% for item in items %}

            {% set styles = [] %}

            {% if item.sidebarColor %}

                {% set gradient = 'radial-gradient(460px 140px at -230px -70px, ' ~ item.sidebarColor ~ ' 0%, rgba(255, 255, 255, 0) 100%)' %}
                {% set styles = [
                    'background: ' ~ gradient,
                    'background: moz-' ~ gradient,
                    'background: o-' ~ gradient,
                    'background: webkit-' ~ gradient,
                ] %}

            {% endif %}
            <li{% if item.children is not empty %} class="has-subcat"{% if styles is not empty %} style="{{ styles|join('; ') }};"{% endif %}{% endif %}>

                {% set url = item.indexUrl %}

                {% if item.sidebarIcon %}
                    <a href="{{ url }}" class="img"{% if '#' == url %} onclick="return false;"{% endif %}><img src="{{ asset(item.sidebarIcon) }}" alt="" /></a>
                {% endif %}
                <a href="{{ url }}"{% if not item.parentName and item.children is empty and item.sidebarColor %} style="color: {{ item.sidebarColor }};"{% endif %}{% if '#' == url %} onclick="return false;"{% endif %}>
                    {{ item.indexTitle|trans }}
                </a>
                {% if item.newObjectCount
                    or (item.associatedObject and utils_new_objects_countable(item.associatedObject) and utils_count_new_objects(item.associatedObject))
                %}
                    <a href="{{ url }}" class="count"{% if '#' == url %} onclick="return false;"{% endif %}>{{ item.newObjectCount ?: utils_count_new_objects(item.associatedObject) }}</a>
                {% endif %}
                {% if item.children is not empty %}

                    {{ that.render(item.children) }}

                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% if items is not empty %}
    <div class="left_menu">

        {{ that.render(items) }}

    </div>
{% endif %}
