{% trans_default_domain 'admin' %}

{% import _self as menu %}

<ul>
    {% for item in items %}

        {% set index_url = item.indexUrl %}
        {% set new_url = item.newUrl %}

        <li>

            {% block item %}
                {% if index_url and index_url != app.request.requestUri %}
                    <a href="{{ index_url }}">{{ item.menuTitle | trans }}</a>
                {% else %}
                    <span>{{ item.menuTitle | trans }}</span>
                {% endif %}
                {% if item.associatedObjectClass and utils_new_objects_countable(item.associatedObjectClass) %}
                    {% if utils_count_new_objects(item.associatedObjectClass) %}
                        <span>{{ utils_count_new_objects(item.associatedObjectClass) }}</span>
                    {% endif %}
                {% endif %}
                {% if new_url %}
                    {% if new_url != app.request.requestUri %}
                        <a href="{{ new_url }}">+</a>
                    {% else %}
                        <span>+</span>
                    {% endif %}
                {% endif %}
            {% endblock %}

            {% if item.children is not empty %}

                {% include menu with { 'items': item.children } %}

            {% endif %}
        </li>
    {% endfor %}
</ul>
