{% trans_default_domain 'admin' %}

{% import _self as menu %}

{% macro render(items) %}

    {% import _self as menu %}

    <ul>
        {% for item in items %}

            {% set styles = [] %}

            {% if item.sidebarColor %}

                {% set gradient = 'radial-gradient(500px 500px at -250px -250px, ' ~ item.sidebarColor ~ ' 0%, rgba(255, 255, 255, 0) 100%)' %}
                {% set styles = [
                    'background: ' ~ gradient,
                    'background: moz-' ~ gradient,
                    'background: o-' ~ gradient,
                    'background: webkit-' ~ gradient,
                ] %}

            {% endif %}
            <li{% if styles is not empty %} style="{{ styles|join('; ') }};"{% endif %}>
                {% if item.sidebarIcon %}
                    <a href="{{ item.indexUrl }}" class="img"><img src="{{ asset(item.sidebarIcon) }}" alt="" /></a>
                {% endif %}
                <a href="{{ item.indexUrl }}"{% if item.sidebarColor %} style="color: {{ item.sidebarColor }};"{% endif %}>
                    {{ item.indexTitle|trans }}
                </a>
                {% if item.associatedObject
                    and utils_new_objects_countable(item.associatedObject)
                    and utils_count_new_objects(item.associatedObject)
                %}
                    <a href="{{ item.indexUrl }}" class="count">{{ utils_count_new_objects(item.associatedObject) }}</a>
                {% endif %}
                {% if item.children is not empty %}

                    {{ menu.render(item.children) }}

                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

<div class="left_menu">

    {{ menu.render(items) }}

</div>
