{% trans_default_domain 'admin' %}

{% import _self as that %}

{% macro item(item, show_icon) %}

    {% import _self as that %}

    {% set classes = [] %}

    {% if item.children is not empty %}

        {% set classes = classes|merge(['-has-dropdown']) %}

    {% endif %}
    {% if show_icon %}

        {% set classes = classes|merge(['icon-' ~ item.name]) %}

    {% endif %}
    {% if item.active %}

        {% set classes = classes|merge(['is-active']) %}

    {% endif %}
    {% if item.separator %}

        {% set classes = classes|merge(['main-menu__separator']) %}

    {% endif %}

    <li{% if classes is not empty %} class="{{ classes|join(' ') }}"{% endif %}>
        {% if item.indexTitle %}
            {% if item.indexUrl %}
                <a href="{{ item.indexUrl }}"{% if item.newObjectCount %} class="has-count"{% endif %}>
                    {{ item.indexTitle|trans }}{% if item.newObjectCount %} <span>{{ item.newObjectCount }}</span>{% endif %}
                </a>
            {% else %}
                <span{% if item.newObjectCount %} class="has-count"{% endif %}>
                    {{ item.indexTitle|trans }}{% if item.newObjectCount %} <span>{{ item.newObjectCount }}</span>{% endif %}
                </span>
            {% endif %}
        {% endif %}
        {% if item.children is not empty %}
            <div>
                <ul>
                    {% for child in item.children %}
                        {{ that.item(child) }}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </li>
{% endmacro %}

{% if items is not empty %}
    <ul class="main-menu__root is-root">
        {% for item in items %}

            {{ that.item(item, true) }}

        {% endfor %}
    </ul>
{% endif %}
