{% trans_default_domain 'admin' %}

{% block a2lix_translations_widget %}
    {{ form_errors(form) }}
    <div class="js-translations tabbable">
        {% if form|length > 1 %}
            <ul class="nav nav-tabs">
                {% for locale, row in form %}
                    <li{% if locale == app.request.locale %} class="active"{% endif %}>
                        <a href="#"
                           data-toggle="tab"
                           data-target=".{{ row.vars.id }}"
                           class="js-translation-toggle">
                            [{{ locale|upper }}]&nbsp;{{ ('locale.' ~ locale)|trans }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="tab-content">
            {% for locale, row in form %}

                {% set classes = [
                    row.vars.id,
                    'tab-pane',
                    'js-translation-tab',
                ] %}

                {% if locale == app.request.locale %}

                    {% set classes = classes|merge(['active']) %}

                {% endif %}

                <div{% if classes is not empty %} class="{{ classes|join(' ') }}"{% endif %} data-locale="{{ locale }}">
                    {{ form_errors(row) }}
                    {{ form_widget(row) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block a2lix_translationsForms_widget %}
    {{ block('a2lix_translations_widget') }}
{% endblock %}
