<!DOCTYPE html>
<html>
<head>
    {% if includeAssets %}
        {{ include("@FMElfinder/Elfinder/helper/assets_css.html.twig") }}
    {% endif %}
</head>
<body>
{% if includeAssets %}
    {{ include("@FMElfinder/Elfinder/helper/assets_js.html.twig") }}
{% endif %}
<script type="text/javascript" charset="utf-8">
    function getUrlParam(paramName) {
        var reParam = new RegExp('(?:[\?&]|&amp;)' + paramName + '=([^&]+)', 'i') ;
        var match = window.location.search.match(reParam) ;

        return (match && match.length > 1) ? decodeURI(match[1]) : '' ;
    }
    $().ready(function() {
        var field = getUrlParam('field');

        var $f = $('.elfinder').elfinder({
            url : '{{path('ef_connect', { 'instance': instance, 'homeFolder': homeFolder } )}}',
            lang : '{{locale}}',
            onlyMimes: {{ onlyMimes|raw }},
            getFileCallback : function(file) {
                if (field) {
                    window.opener.document.getElementsByName(field)[0].value = file.url.replace('{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}', '');
                    window.close();
                }
            }
        });

        {% if fullscreen %}
        var $window = $(window);
        $window.resize(function(){
            var $win_height = $window.height();
            if( $f.height() != $win_height ){
                $f.height($win_height).resize();
            }
        });
        $window.resize();
        {% endif %}
    });
</script>
<div class="elfinder"></div>
</body>
</html>
