{% form_theme form 'DarvinAdminBundle:Crud/widget/filter:fields.html.twig' %}

{% trans_default_domain 'admin' %}

<div class="index_modul filter spoiler_container">
    <div class="index_modul_header">
        <div class="index_modul_header_content spoiler_links">
            <div class="spoiler_arrow"></div>
            <div class="index_modul_icon"></div>
            <div class="index_modul_name">
                <p class="tit">{% trans %}filter.title{% endtrans %}</p>
                <p>{% trans %}filter.description{% endtrans %}</p>
            </div>
        </div>
    </div>
    <div class="index_modul_content spoiler_body"
         data-cookie="DARVINADMINFILTER"
         {% if not app.request.cookies.get('DARVINADMINFILTER') %}style="display: none;"{% endif %}>
        <div class="filter_table">
            {{ form_start(form) }}
            <table>
                <tbody>
                    <tr>
                        {% for field, attr in meta.configuration.form.filter.fields %}
                            <td>{{ form_label(form[field]) }}</td>
                            <td class="filter_element">{{ form_widget(form[field]) }}</td>
                            {% if 0 == loop.index % 4 %}
                                </tr><tr>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <td colspan="8">
                            <button type="submit">{{ (meta.baseTranslationPrefix ~ 'action.filter.submit')|trans }}</button>
                            <a href="{{ form.vars.action }}">
                                {{ (meta.baseTranslationPrefix ~ 'action.filter.reset')|trans }}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            {{ form_end(form) }}
        </div>
    </div>
</div>
