{% trans_default_domain 'admin' %}

(function () {
    var widgetName        = '{{ widget.name }}';
    var widgetPlaceholder = '{{ widget.placeholder|raw }}';
    {% if icon %}

    var widgetIcon        = '{{ icon|raw }}';
    {% endif %}

    CKEDITOR.plugins.add(widgetName, {
        requires: 'widget',
        init:     function (editor) {
            var widgetTitle = '{{ widget.resolvedOptions.title|trans }}';

            editor.widgets.add(widgetName, {
                template:        '<div class="' + widgetName + '">' + widgetPlaceholder + '</div>',
                allowedContent:  'div(!' + widgetName + ')',
                requiredContent: 'div(' + widgetName + ')',
                upcast:          function (element) {
                    return 'div' === element.name
                        && element.hasClass(widgetName)
                        && 1 === element.children.length
                        && widgetPlaceholder === element.children[0].value;
                },
                init: function () {
                    this.element.setHtml('');
                    this.element.setAttribute('title', widgetTitle);
                },
                downcast: function (element) {
                    delete element.attributes.title;
                    element.setHtml(widgetPlaceholder);
                }
            });

            editor.ui.addButton(widgetName, {
                label:   widgetTitle,
                command: widgetName{% if icon %},{% endif %}
                {% if icon %}

                icon:    widgetName
                {% endif %}

            });
            {% if icon %}

            editor.on('instanceReady', function () {
                var icons = document.getElementsByClassName('cke_button__' + widgetName + '_icon');

                if (!icons.length) {
                    return;
                }

                var style = 'background: url("' + widgetIcon + '"); background-size: 16px 16px;';

                for (var i = 0; i < icons.length; i++) {
                    icons[i].setAttribute('style', style);
                    {% if letter is not same as(null) %}

                    if (!icons[i].children.length) {
                        var letter = document.createElement('span');
                        letter.innerHTML = '{{ letter }}';
                        letter.setAttribute('class', 'cke_button_letter');

                        icons[i].appendChild(letter);
                    }
                    {% endif %}

                }
            });
            {% endif %}

            CKEDITOR.addCss(
                '.' + widgetName + ' {' +
                    {% if icon %}

                    'background:      url("' + widgetIcon + '") no-repeat center;' +
                    'background-size: 64px 64px;' +
                    {% endif %}

                    'box-shadow:      grey 0 0 16px;' +
                    'height:          84px;' +
                '}'
            );
        }
    });
})();
