{% form_theme form _self %}

{% trans_default_domain 'admin' %}

{% block __username_row %}
    {% if form.parent %}
        <div class="form-item -login">
            <div class="form-item__field">
                <div class="form-item__input" data-type="small">
                    {{ form_widget(form, {'attr': {'data-input': '', 'placeholder': label}}) }}
                </div>
                {{ form_errors(form) }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block __password_row %}
    {% if form.parent %}
        <div class="form-item -password">
            <div class="form-item__field">
                <div class="form-item__input js-btn-password-show" data-type="small">
                    {{ form_widget(form, {'attr': {'data-input': '', 'placeholder': label}}) }}
                    <button data-btn-password-show title="{% trans %}form.password.show{% endtrans %}">&nbsp;</button>
                </div>
                {{ form_errors(form) }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{{ form_start(form, {'attr': {'class': 'js-form js-security-login'}}) }}
<div class="form-login">
    {{ form_widget(form) }}
    <button class="form-login__btn-login" type="submit">{% trans %}security.action.login.submit{% endtrans %}</button>
</div>
{{ form_end(form) }}
