{% extends 'DarvinAdminBundle::layout.html.twig' %}

{% trans_default_domain 'admin' %}

{% block body %}
    <div class="authorization_page">
        <div class="wrap">
            <div class="container">

                {% include 'DarvinAdminBundle::locale_switcher.html.twig' %}

                <div class="block">
                    <a href="" class="logo">
                        <img src="{{ asset(darvin_admin_visual_assets_path ~ '/images/logo_auth.png') }}" alt="">
						<span>{% trans %}layout.logo{% endtrans %}</span>
                    </a>
                    <div class="authorization_form">
                        {{ form_start(form) }}
                        <div class="pole_name">{{ form_label(form._username) }}</div>
                        <div class="pole_input">{{ form_widget(form._username) }}</div>
                        <div class="pole_name">{{ form_label(form._password) }}</div>
                        <div class="pole_input{% if error %} with_error{% endif %}">
                            {{ form_widget(form._password) }}
                            {% if error %}
                                <div class="error left_error">
                                    <ul>
                                        <li>{{ error | trans({}, 'security') }}</li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        <div class="pole_input">
                            <input type="submit" value="{% trans %}security.action.login.submit{% endtrans %}" />
                        </div>
                        <div class="checkbox_container">
							<span class="checkbox">
								<label>
                                    {{ form_widget(form._remember_me) }}
                                    <span></span>
                                </label>
							</span>
                            <span class="note">{{ form_label(form._remember_me) }}</span>
                        </div>
                        {{ form_end(form) }}
                    </div>
                    <a href="{{ darvin_admin_project_url }}" class="site_name">{{ darvin_admin_project_title }}</a>
                </div>
                <div class="version">
                    <a href="{{ path('darvin_admin_security_darvin_auth_login') }}">Darvin Auth</a>
                    {% trans with { '%number%': constant('Darvin\\AdminBundle\\DarvinAdminBundle::VERSION') } %}
                        security.action.login.version
                    {% endtrans %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
