{% extends '@DarvinAdmin/layout.html.twig' %}

{% form_theme form 'form_div_layout.html.twig' %}

{% trans_default_domain 'admin' %}

{% block body %}
    <div class="authorization_page">
        <div class="wrap">
            <div class="container">

                {% include '@DarvinAdmin/locale_switcher.html.twig' %}

                <div class="block">
                    <span class="logo">
                        {% if darvin_admin.logo %}
                            <img src="{{ asset(darvin_admin.logo) }}">
                        {% else %}
                            <img src="{{ asset(darvin_admin.frontendPath ~ '/images/logo_auth.png') }}" alt="">
    						<span>{% trans %}layout.logo{% endtrans %}</span>
                        {% endif %}
                    </span>
                    <div class="authorization_form">
                        {{ form_start(form) }}
                        <div class="pole_name">{{ form_label(form._username) }}</div>
                        <div class="pole_input">{{ form_widget(form._username) }}</div>
                        <div class="pole_name">{{ form_label(form._password) }}</div>
                        <div class="pole_input{% if error %} with_error{% endif %}">
                            {{ form_widget(form._password) }}
                            {% if error %}
                                <div class="error left_error">
                                    <ul>
                                        <li>{{ error|trans({}, 'security') }}</li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        <div class="pole_input">
                            <input type="submit" value="{% trans %}security.action.login.submit{% endtrans %}" />
                        </div>
                        <div class="checkbox_container">
							<span class="checkbox">
								<label>
                                    {{ form_widget(form._remember_me) }}
                                    <span></span>
                                </label>
							</span>
                            <span class="note">{{ form_label(form._remember_me) }}</span>
                        </div>
                        {{ form_end(form) }}
                        <a href="{{ path('darvin_admin_security_darvin_auth_login', {'service': 'darvin_auth_admin'}) }}" class="darvin_auth">
                            {% trans %}security.action.login.darvin_auth{% endtrans %}
                        </a>
                    </div>
                    <a href="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}" class="site_name">{{ darvin_admin.projectTitle }}</a>
                </div>
                <div class="version">
                    {% trans with {'%number%': constant('Darvin\\AdminBundle\\DarvinAdminBundle::VERSION')} %}
                        security.action.login.version
                    {% endtrans %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
