{% extends 'DarvinAdminBundle::layout.html.twig' %}

{% trans_default_domain 'admin' %}

{% block content %}
    {% if error %}<span>{{ error | trans({}, 'security') }}</span>{% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">{% trans %}security.action.login.submit{% endtrans %}</button>
    {{ form_end(form) }}

    <a href="{{ path('hwi_oauth_service_redirect', { 'service': 'darvin_auth' }) }}">Darvin Auth</a>
{% endblock %}
