{% extends 'DarvinAdminBundle::layout.html.twig' %}

{% trans_default_domain 'admin' %}

{% block heading %}{% trans %}homepage.action.homepage.title{% endtrans %}{% endblock %}

{% block content %}
    <div class="main_menu_wrap">

        {{ admin_menu('DarvinAdminBundle:Homepage:menu.html.twig') }}

    </div>
    {% for name, widget in dashboard.widgets %}

        {% set cookie_name = 'DARVINADMIN' ~ (widget.name|upper|replace({'_': ''})) %}

        <div class="index_modul spoiler_container">
            <div class="index_modul_header">
                <div class="index_modul_header_content spoiler_links">
                    {% if widget.content|trim %}
                        <div class="spoiler_arrow"></div>
                    {% endif %}
                    {% if widget.icon %}
                        <div class="index_modul_icon">
                            <img src="{{ asset(widget.icon) }}" alt="" />
                        </div>
                    {% endif %}
                    <div class="index_modul_name">
                        <p class="tit">{{ ('dashboard.widget.' ~ name ~ '.title')|trans }}</p>
                        <p>{{ ('dashboard.widget.' ~ name ~ '.description')|trans }}</p>
                    </div>
                </div>
                {% if widget.moduleUrl %}
                    <div class="to_modul">
                        <a href="{{ widget.moduleUrl }}">{% trans %}dashboard.widget.module_link{% endtrans %}</a>
                    </div>
                {% endif %}
            </div>
            <div class="index_modul_content spoiler_body"
                 data-cookie="{{ cookie_name }}"
                 {% if not app.request.cookies.get(cookie_name) %}style="display: none;"{% endif %}>
                {{ widget.content|raw }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
