{% extends 'DarvinAdminBundle::layout.html.twig' %}

{% trans_default_domain 'admin' %}

{% block heading %}{% trans %}homepage.action.homepage.title{% endtrans %}{% endblock %}

{% block content %}
    <div class="main_menu_wrap">

        {{ admin_menu('DarvinAdminBundle:Homepage:menu.html.twig') }}

    </div>
    {% for name, widget in dashboard.widgets %}
        <div class="index_modul spoiler_container">
            <div class="index_modul_header">
                <div class="index_modul_header_content spoiler_links">
                    <div class="spoiler_arrow">
                        <img src="{{ asset('bundles/darvinadmin/images/spoiler_arrow.png') }}" alt="" />
                    </div>
                    <div class="index_modul_icon">
                        <img src="{{ asset('bundles/darvinadmin/images/index_modul_icon_' ~ name ~ '.png') }}" alt="" />
                    </div>
                    <div class="index_modul_name">
                        <p class="tit">{{ ('dashboard.widget.' ~ name ~ '.title') | trans }}</p>
                        <p>{{ ('dashboard.widget.' ~ name ~ '.description') | trans }}</p>
                    </div>
                </div>
                {% if widget.moduleUrl %}
                    <div class="to_modul">
                        <a href="{{ widget.moduleUrl }}">{% trans %}dashboard.widget.module_link{% endtrans %}</a>
                    </div>
                {% endif %}
            </div>
            <div class="index_modul_content spoiler_body">{{ widget.content | raw }}</div>
        </div>
    {% endfor %}
{% endblock %}
