{% trans_default_domain 'admin' %}

<div class="main_menu">
    {% for item in items %}

        {% set index_url = item.indexUrl %}

        {% if not index_url %}
            {% set index_url = '#' %}
        {% endif %}

        <div class="item{% if item.children is not empty %} parent{% endif %}">
            <div class="img">
                <a href="{{ index_url }}">
                    <img src="{{ asset('bundles/darvinadmin/images/main_menu_' ~ item.menuName ~ '.png') }}" alt="" />
                </a>
            </div>
            <div class="name">
                <a href="{{ index_url }}"{% if item.menuColor %} style="color: {{ item.menuColor }};"{% endif %}>
                    {{ item.indexTitle | trans }}
                </a>
            </div>
            {% if item.menuDescription %}
                <div class="description">
                    <p>{{ item.menuDescription | trans | raw }}</p>
                </div>
            {% endif %}
            {% if item.children is not empty %}
                <div class="main_dropdown_menu_wrap">
                    <div class="top_sep"></div>
                    <div class="main_dropdown_menu">
                        <div class="main_dropdown_menu_inner">
                            {% for child in item.children %}

                                {% set index_url = child.indexUrl %}
                                {% set new_url = child.newUrl %}

                                <div class="sub_item">
                                    <div class="img">
                                        <a href="{{ index_url }}">
                                            <img src="{{ asset('bundles/darvinadmin/images/sub_item_' ~ child.menuName ~ '.png') }}">
                                        </a>
                                    </div>
                                    <div class="name">
                                        <a href="{{ index_url }}">{{ child.indexTitle | trans }}</a>
                                    </div>
                                    {% if new_url and child.newTitle %}
                                        <div class="sep"></div>
                                        <a href="{{ new_url }}" class="btn">{{ child.newTitle | trans }}</a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
