{% trans_default_domain 'admin' %}

<div class="main_menu">
    {% for item in items %}
        <div class="item color_{{ item.name }}{% if item.children is not empty %} parent{% endif %}">
            {% if item.bigIcon %}
                <div class="img">
                    <a href="{{ item.indexUrl }}"><img src="{{ asset(item.bigIcon) }}" alt="" /></a>
                    {% if item.associatedObject
                        and utils_new_objects_countable(item.associatedObject)
                        and utils_count_new_objects(item.associatedObject)
                    %}
                        <a href="{{ item.indexUrl }}" class="count">{{ utils_count_new_objects(item.associatedObject) }}</a>
                    {% endif %}
                </div>
            {% endif %}
            <div class="name">
                <a href="{{ item.indexUrl }}"{% if item.color %} style="color: {{ item.color }};"{% endif %}>
                    {{ item.indexTitle|trans }}
                </a>
            </div>
            {% if item.description %}
                <div class="description">
                    <p>{{ item.description|trans|raw }}</p>
                </div>
            {% endif %}
            {% if item.children is not empty %}
                <div class="main_dropdown_menu_wrap">
                    <div class="top_sep"></div>
                    <div class="main_dropdown_menu">
                        <div class="main_dropdown_menu_inner">
                            {% for child in item.children %}
                                <div class="sub_item">
                                    {% if child.bigIcon %}
                                        <div class="img">
                                            <a href="{{ child.indexUrl }}"><img src="{{ asset(child.bigIcon) }}"></a>
                                        </div>
                                    {% endif %}
                                    <div class="name">
                                        <a href="{{ child.indexUrl }}">{{ child.indexTitle|trans }}</a>
                                    </div>
                                    {% if child.newUrl and child.newTitle %}
                                        <div class="sep"></div>
                                        <a href="{{ child.newUrl }}" class="btn">{{ child.newTitle|trans }}</a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
