{% trans_default_domain 'admin' %}

{% set route_params = { (association_param): parent_id } %}

{% if index_link %}
    <a class="items" href="{{ admin_path(null, child_class, constant('Darvin\\AdminBundle\\Route\\AdminRouter::TYPE_INDEX'), route_params) }}">
        {{ (translation_prefix ~ 'action.index.link')|trans }}&nbsp;({{ children_count }})
    </a>
{% endif %}
{% if new_link %}
    <a class="items none" href="{{ admin_path(null, child_class, constant('Darvin\\AdminBundle\\Route\\AdminRouter::TYPE_NEW'), route_params) }}">
        {{ (translation_prefix ~ 'action.new.link')|trans }}
    </a>
{% endif %}
