{% trans_default_domain 'admin' %}

{% set style   = app.request.request.get('style', style) %}
{% set title   = (translation_prefix ~ 'action.delete.submit')|trans %}
{% set classes = {
    'default': 'table-row__btn-remove',
    'footer':  'page-footer__btn-remove',
    'header':  'page-header__btn-remove',
    'show':    'modal-actions__btn-remove',
} %}

<form name="{{ name }}" action="{{ admin_path(entity, entity_class, 'delete') }}" method="post" class="js-form" data-reload-page="1">
    <button type="submit"
            class="{{ classes[style]|default(classes.default) }}"
            title="{{ title|e('html_attr') }}"
            onclick="return confirm('{{ (translation_prefix ~ 'action.delete.confirm')|trans|e('js') }}');">
        {{ title }}
    </button>
    {% for name, value in {
        (name ~ '[id]'): id,
        'style':         style,
    } %}
        <input name="{{ name }}" type="hidden" value="{{ value }}">
    {% endfor %}
</form>
