{% trans_default_domain 'admin' %}

{{ form_start(form, {'attr': {'class': 'edit_element delete'}}) }}
{{ form_widget(form) }}
<button onclick="return confirm('{{ (translation_prefix ~ 'action.delete.confirm')|trans }}');"
        type="submit"
        title="{{ (translation_prefix ~ 'action.delete.submit')|trans }}">
</button>
{{ form_end(form) }}
