{% form_theme form '@DarvinAdmin/fields.html.twig' %}

{% trans_default_domain 'admin' %}

{% if is_widget is not defined %}

    {% set is_widget = false %}

{% endif %}

{% set field_groups = meta.configuration.form[view_type].field_groups %}

<div class="content-block">
    <div class="content-block__content">
        {% if is_widget %}
            <p class="h2">{{ (meta.baseTranslationPrefix ~ 'action.new.title')|trans }}</p>
        {% endif %}
        {{ form_start(form, {'attr': {'class': 'js-form', 'data-target': '.js-form-container', 'data-reload-page': 1}}) }}
        <div style="display: none;">
            {% for row in form %}
                {% if 'submit' == row.vars.block_prefixes[1] %}
                    {{ form_row(row) }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="form-product-show">
            {{ form_errors(form) }}
            {% for name, fields in field_groups %}
                <div class="form-heading">{{ (meta.baseTranslationPrefix ~ 'field_group.' ~ name)|trans }}</div>
                {% for field, attr in fields %}
                    {% if form[field] is defined %}
                        {{ form_row(form[field]) }}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {{ form_rest(form) }}
        </div>
        {{ form_end(form) }}
        {% if is_widget %}

            {% include '@DarvinAdmin/crud/_buttons.html.twig' with {'style': 'header', 'entity': null} %}

        {% endif %}
    </div>
</div>
