{% extends '@DarvinAdmin/content.html.twig' %}

{% import _self as that %}

{% trans_default_domain 'admin' %}

{% macro new_link(meta, association_param, parent_entity_id, class) %}
    {% if not meta.configuration.index_view_new_form %}

        {% set new_url = null %}

        {% if admin_route_exists(meta.entityClass, 'new') and is_granted('admin_create_delete', meta.entityClass) %}

            {% set new_url = admin_path(
                null,
                meta.entityClass,
                'new',
                association_param ? {(association_param): parent_entity_id} : {}
            ) %}

        {% endif %}

        {% if new_url %}
            <a class="{{ class }}" href="{{ new_url }}">{{ (meta.baseTranslationPrefix ~ 'action.new.link')|trans }}</a>
        {% endif %}

    {% endif %}
{% endmacro %}

{% block breadcrumbs %}{{ admin_breadcrumbs(meta, parent_entity) }}{% endblock %}

{% block heading %}
    {{ (meta.baseTranslationPrefix ~ 'action.index.title')|trans }}{% if heading_suffix %} &mdash; {{ heading_suffix|trans }}{% endif %}
{% endblock %}

{% block header_buttons %}

    {% if filter_form %}
        <a class="page-header__btn-filter js-filter-toggle" href="#">{% trans %}filter.toggle{% endtrans %}</a>
    {% endif %}

    {{ that.new_link(meta, association_param, parent_entity_id, 'page-header__btn-add') }}

    {% block extra_controls %}{% endblock %}

    {% block property_forms_submit %}
        {% if view.body.rows is not empty %}
            <a class="page-header__btn-add js-property-submit" style="display: none;">
                {% trans %}property_forms.submit{% endtrans %}
            </a>
        {% endif %}
    {% endblock %}

{% endblock %}

{% block content %}

    {% if filter_form %}

        {% form_theme filter_form '@DarvinAdmin/fields_compact.html.twig' %}

        <div class="filter-block js-filter">
            <div class="filter-block__content">
                {{ form_start(filter_form, {'attr': {'class': 'js-form'}}) }}
                <div class="form-filter">

                    {% for name, attr in meta.configuration.form.filter.fields %}
                        {% if filter_form[name] is defined %}
                            {{ form_row(filter_form[name]) }}
                        {% endif %}
                    {% endfor %}

                    <div class="form-btns-container">
                        <button type="submit" class="form-filter__btn-apply">{% trans %}filter.submit{% endtrans %}</button>
                        <a class="form-filter__btn-reset js-form-reset" href="{{ filter_form.vars.action }}">
                            {% trans %}filter.reset{% endtrans %}
                        </a>
                    </div>
                </div>
                {{ form_end(filter_form) }}
            </div>
        </div>
    {% endif %}

    {% if new_form %}
        {{ new_form|raw }}
    {% endif %}

    {% set new_link = that.new_link(meta, association_param, parent_entity_id, 'content-block__btn-add') %}

    {% embed '@DarvinAdmin/crud/_list.html.twig' %}

        {% block footer_left %}{{ new_link }}{% endblock %}

    {% endembed %}

{% endblock %}
