{% set header_buttons = include('@DarvinAdmin/crud/_buttons.html.twig', {'view_type': 'new', 'style': 'header', 'entity': null}) %}
{% set footer_buttons = include('@DarvinAdmin/crud/_buttons.html.twig', {'view_type': 'new', 'style': 'footer', 'entity': null}) %}
{% set content        = include('@DarvinAdmin/crud/_form.html.twig',    {'view_type': 'new'}) %}

<div class="js-form-container">
    {% if is_widget %}
        {{ content|raw }}
    {% else %}

        {% embed '@DarvinAdmin/content.html.twig' %}

            {% trans_default_domain 'admin' %}

            {% set heading = (meta.baseTranslationPrefix ~ 'action.new.title')|trans %}

            {% block breadcrumbs %}{{ admin_breadcrumbs(meta, parent_entity, heading) }}{% endblock %}

            {% block heading %}{{ heading }}{% endblock %}

            {% block header_buttons %}{{ header_buttons|raw }}{% endblock %}

            {% block content %}{{ content|raw }}{% endblock %}

            {% block footer_buttons %}{{ footer_buttons|raw }}{% endblock %}

        {% endembed %}

    {% endif %}
</div>
