{% extends 'DarvinAdminBundle::layout.html.twig' %}

{% trans_default_domain 'admin' %}

{% block breadcrumbs %}{{ admin_breadcrumbs(meta, parent_entity) }}{% endblock %}

{% block heading %}{{ (meta.baseTranslationPrefix ~ 'action.index.title')|trans }}{% endblock %}

{% block content %}
    {% if admin_route_exists(meta.entityClass, constant('Darvin\\AdminBundle\\Route\\AdminRouter::TYPE_NEW')) %}

        {% set new_url = admin_path(
            null,
            meta.entityClass,
            constant('Darvin\\AdminBundle\\Route\\AdminRouter::TYPE_NEW'),
            association_param ? { (association_param): parent_entity_id } : {}
        ) %}

        <div class="post_item_btn">
            <a href="{{ new_url }}" class="add_section">{{ (meta.baseTranslationPrefix ~ 'action.new.link')|trans }}</a>
        </div>
    {% endif %}
    {% if filter_form %}

        {% include 'DarvinAdminBundle:Crud/widget/filter:form.html.twig' with {
            'field_groups': meta.configuration.form.filter.field_groups,
            'form':         filter_form,
        } %}

    {% endif %}
    {% if view.body.rows is empty %}
        <h3>{% trans %}interface.empty_list{% endtrans %}</h3>
    {% else %}

        {% set pagination_html = pagination ? knp_pagination_render(pagination) : '' %}

        {{ pagination_html|raw }}
        <p>{% trans with { '%count%': entities_count } %}interface.total_item_count{% endtrans %}</p>
        <div class="scroll-pane horizontal-only">
            <div class="section_table">
                <table class="property_forms">
                    <thead>
                        <tr>
                            {% for field, item in view.head.items if item.width %}
                                <th colspan="{{ item.width }}">
                                    {% if pagination and item.sortable %}
                                        {{ knp_pagination_sortable(pagination, item.content|trans, item.sortablePropertyPath) }}
                                    {% else %}
                                        {{ item.content|trans }}
                                    {% endif %}
                                </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in view.body.rows %}
                            <tr>
                                {% for item in row.items %}
                                    <td>{{ item.content|trans|raw }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {{ pagination_html|raw }}
        <p>{% trans with { '%count%': entities_count } %}interface.total_item_count{% endtrans %}</p>
    {% endif %}
    {{ new_form_widget|raw }}
{% endblock %}
