{% extends 'form_div_layout.html.twig' %}

{% use 'VichUploaderBundle:Form:fields.html.twig' %}

{% trans_default_domain 'admin' %}

{%- block button_attributes -%}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ name)|trim}) %}
    {% if id %}id="{{ id }}" {% endif %}name="{{ full_name }}"{% if disabled %} disabled="disabled"{% endif -%}
    {{ block('attributes') }}
{%- endblock button_attributes -%}

{%- block checkbox_widget -%}
    <div class="input_value">
        {{ parent() }}
    </div>
    {{ block('description') }}
{%- endblock checkbox_widget -%}

{%- block choice_widget_collapsed -%}
    <div class="input_value">
        {{ parent() }}
    </div>
    {{ block('description') }}
{%- endblock choice_widget_collapsed -%}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {% for child in form %}
            {{ form_label(child, null, { translation_domain: choice_translation_domain }) }}
            {{ form_widget(child) }}
        {% endfor %}
    </div>
{%- endblock choice_widget_expanded -%}

{%- block ckeditor_widget_extra -%}
    ['i', 'span'].forEach(function (tag) {
        CKEDITOR.dtd.$removeEmpty[tag] = false;
    });

    CKEDITOR.on('instanceReady', function () {
        CKEDITOR.instances['{{ id }}'].config.contentsLangDirection = CKEDITOR.lang.rtl['{{ locale }}'] ? 'rtl' : 'ltr';
    });
{%- endblock -%}

{%- block collection_widget -%}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' collection')|trim}) %}
    {% if allow_add %}
        {% set attr = attr|merge({
            'data-allow-add': 1,
            'data-index':     form.children is not empty ? max(form.children|keys) + 1 : 0,
            'data-name':      name,
        }) %}
    {% endif %}
    {% if allow_delete %}
        {% set attr = attr|merge({'data-allow-delete': 1}) %}
    {% endif %}
    {{ parent() }}
{%- endblock collection_widget -%}

{%- block darvin_admin_ace_editor_widget -%}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
    <div id="{{ id }}_ace_editor"></div>
    <script>
        $(function () {
            ace.config.set('basePath', '/bundles/darvinadmin/node_modules/ace-builds/src-min-noconflict');
            var $textarea = $('#{{ id }}').hide(),
                editor    = ace.edit('{{ id }}_ace_editor', JSON.parse('{{ config|json_encode|e('js') }}')),
                ready     = false;
            editor.setShowPrintMargin(false);
            editor.session.setValue($textarea.val());
            editor.session.on('change', function () {
                $textarea.val(editor.session.getValue());
            });
            editor.renderer.on('afterRender', function () {
                if (ready) {
                    return;
                }
                $(editor.container)
                {%- for name, value in attr -%}
                    .attr('{{ name }}', '{{ value }}')
                {%- endfor -%}
                {%- for name, value in style -%}
                    .css({'{{ name }}': '{{ value }}'})
                {%- endfor -%}
                ;
                ready = true;
            });
        });
    </script>
{%- endblock darvin_admin_ace_editor_widget -%}

{%- block darvin_admin_dropzone_widget -%}
    {% if data and data is not empty %}
        <div class="images" data-sort-url="{{ path('darvin_image_image_sort') }}">
            {% for image in data if image.id and image_exists(image) %}

                {% include 'DarvinAdminBundle:Form:image.html.twig' %}

            {% endfor %}
        </div>
    {% endif %}
    {{ form_widget(form) }}
{%- endblock darvin_admin_dropzone_widget -%}

{%- block darvin_admin_slug_suffix_widget -%}
    {% if is_homepage %}
        {{ form_widget(form) }}
    {% else %}

        {% set url_parts  = (app.request.baseUrl ~ route_path)|replace({'{_locale}': app.request.locale})|split('{' ~ route_param_slug ~ '}') %}
        {% set url_prefix = url_parts[0] ~ slug_prefix %}
        {% set url_suffix = url_parts[1] %}
        {% set url_parts  = [url_prefix] %}

        {% if not slug %}
            {% set url_parts = url_parts|merge(['___']) %}
        {% endif %}

        {% set url_parts = url_parts|merge([url_suffix]) %}

        {% set url = slug ? path(route, {(route_param_slug): slug}) : url_parts|join('') %}

        <div class="input_value">
            <div class="slug_suffix{% if not slug %} changed{% endif %}"
                 data-default-url="{{ url }}"
                 data-parent-select="{{ parent_select_selector }}"
                 data-parent-option-data-slug="{{ parent_option_data_slug }}"
                 data-url-prefix="{{ url_prefix }}"
                 data-url-suffix="{{ url_suffix }}">
                <div class="link_widget" id="{{ id }}_link_widget">
                    <a href="{{ url }}" target="_blank">{{ url }}</a>
                    <button class="edit" id="{{ id }}_edit" type="button" style="display: none;">
                        {% trans %}slug_suffix.edit{% endtrans %}
                    </button>

                    {% block reset_button %}
                        <button class="reset" type="button" style="display: none;">
                            {% trans %}slug_suffix.reset{% endtrans %}
                        </button>
                    {% endblock %}

                </div>
                <div class="form_widget" id="{{ id }}_form_widget">
                    <span class="url_prefix">{{ url_prefix ~ (slug ~ '$')|replace({(data ~ '$'): ''}) }}</span>
                    {{ form_widget(form, {'hide_description': true, 'attr': {'data-default': data}}) }}
                    <span class="url_suffix">{{ url_suffix }}</span>
                    <button class="update" id="{{ id }}_update" type="button" style="display: none;">
                        {% trans %}slug_suffix.update{% endtrans %}
                    </button>

                    {{ block('reset_button') }}

                </div>
            </div>
        </div>
        {{ block('description') }}
        <script>
            document.getElementById('{{ id ~ (errors is empty ? '_form_widget' : '_link_widget') }}').style.display = 'none';
            document.getElementById('{{ id }}_edit').style.display = 'inline';
            document.getElementById('{{ id }}_update').style.display = 'inline';
        </script>
    {% endif %}
{%- endblock darvin_admin_slug_suffix_widget -%}

{%- block darvin_admin_translatable_widget -%}
    {{ block('a2lix_translations_widget') }}
{%- endblock darvin_admin_translatable_widget -%}

{%- block darvin_image_image_row -%}
    <div class="table_row childless">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{%- endblock darvin_image_image_row -%}

{%- block darvin_image_image_widget -%}
    <div class="input_value">
        {% if data and image_exists(data) %}

            {% include 'DarvinAdminBundle:Form:image.html.twig' with {
                'image': data,
            } %}

        {% endif %}
        {{ form_widget(form) }}
    </div>
    {{ block('description') }}
{%- endblock darvin_image_image_widget -%}

{%- block description -%}
    {% if 'hidden' != block_prefixes[1]
        and (hide_description is not defined or not hide_description
        and (not form.parent or 'darvin_image_image' != form.parent.vars.block_prefixes[1])
    ) %}
        <div class="description">{% if description %}{{ description|trans({}, translation_domain)|raw }}{% endif %}</div>
    {% endif %}
{%- endblock description -%}

{%- block form_errors -%}
    {% if errors is not empty %}
        <ul class="input_value-error">
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{%- endblock form_errors -%}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% set is_editor = block_prefixes[3]|default in ['ckeditor', 'darvin_admin_ace_editor'] %}
        {% if not is_editor %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default ~ ' name')|trim}) %}
        {% endif %}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}{% if not is_editor %}:{% endif %}
        </label>
    {%- endif -%}
{%- endblock form_label -%}

{%- block form_row -%}
    <div class="table_row{% if form.children is empty %} childless{% endif %}">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{%- endblock form_row -%}

{%- block form_widget_compound -%}
    <div class="compound">
        {{ parent() }}
    </div>
{%- endblock form_widget_compound -%}

{%- block form_widget_simple -%}
    {% if 'hidden' == type|default %}
        {{ parent() }}
    {% else %}
        <div class="input_value">
            {{ parent() }}
        </div>
        {{ block('description') }}
    {% endif %}
{%- endblock form_widget_simple -%}

{%- block radio_widget -%}
    <div class="input_value">
        {{ parent() }}
    </div>
    {{ block('description') }}
{%- endblock radio_widget -%}

{%- block submit_widget -%}
    {% set id = null %}
    {{ parent() }}
{%- endblock submit_widget -%}

{%- block textarea_widget -%}
    <div class="input_value">
        {{ parent() }}
    </div>
    {{ block('description') }}
{%- endblock textarea_widget -%}

{%- block vich_image_row -%}
    <div class="table_row childless">
        {{ form_label(form) }}
        {{ form_widget(form) }}
    </div>
{%- endblock vich_image_row -%}

{%- block vich_image_widget -%}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_widget(form.file, {'required': false}) }}
            {{ form_errors(form) }}
            {% if form.delete is defined %}
                {{ form_row(form.delete, {'translation_domain': 'VichUploaderBundle'}) }}
            {% endif %}

            {% if download_uri is defined and download_uri %}
                <a class="colorbox" href="{{ download_uri }}"><img src="{{ download_uri|imagine_filter('darvin_admin_thumb') }}" alt="" /></a>
            {% endif %}
        </div>
    {% endspaceless %}
{%- endblock vich_image_widget -%}

{%- block widget_attributes -%}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ block_prefixes[1])|trim}) %}
    {{ parent() }}
{%- endblock widget_attributes -%}
