{% extends 'form_div_layout.html.twig' %}

{%- block button_attributes -%}
    {% set attr = attr | merge({ 'class': (attr.class | default('') ~ ' ' ~ name) | trim }) %}
    {{ parent() }}
{%- endblock button_attributes -%}

{%- block checkbox_widget -%}
    <div class="input_value">
        {{ parent() }}
    </div>
{%- endblock checkbox_widget -%}

{%- block choice_widget_collapsed -%}
    <div class="input_value">
        {{ parent() }}
    </div>
{%- endblock choice_widget_collapsed -%}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {% for child in form %}
            {{ form_label(child, null, { translation_domain: choice_translation_domain }) }}
            {{ form_widget(child) }}
        {% endfor %}
    </div>
{%- endblock choice_widget_expanded -%}

{%- block collection_widget -%}
    {% set attr = attr | merge({ 'class': (attr.class | default('') ~ ' collection') | trim }) %}
    {% if allow_add %}
        {% set attr = attr | merge({ 'data-allow-add': 1 }) %}
    {% endif %}
    {% if allow_delete %}
        {% set attr = attr | merge({ 'data-allow-delete': 1 }) %}
    {% endif %}
    {{ parent() }}
{%- endblock collection_widget -%}

{%- block darvin_admin_dropzone_widget -%}
    {% if form.vars.data %}
        {% for image in form.vars.data if image.id and image_exists(image) %}

            {% include 'DarvinAdminBundle:form:image.html.twig' %}

        {% endfor %}
    {% endif %}
    {{ form_widget(form) }}
{%- endblock -%}

{%- block darvin_image_image_widget -%}
    {% if form.vars.data and image_exists(form.vars.data) %}

        {% include 'DarvinAdminBundle:form:image.html.twig' with {
            'image': form.vars.data,
        } %}

    {% endif %}
    {{ form_widget(form) }}
{%- endblock -%}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% set label_attr = label_attr | merge({ 'class': (label_attr.class | default('') ~ ' name') | trim }) %}
    {% endif %}
    {{ parent() }}
{%- endblock form_label -%}

{%- block form_row -%}
    <div class="table_row{% if form.children is empty %} childless{% endif %}">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{%- endblock form_row -%}

{%- block form_widget -%}
    {{ parent() }}
    {% if darvin_admin_info %}
        <div class="description">{{ darvin_admin_info | trans({}, translation_domain) }}</div>
    {% endif %}
{%- endblock form_widget -%}

{%- block form_widget_compound -%}
    <div class="compound">
        {{ parent() }}
    </div>
{%- endblock form_widget_compound -%}

{%- block form_widget_simple -%}
    <div class="input_value">
        {{ parent() }}
    </div>
{%- endblock form_widget_simple -%}

{%- block radio_widget -%}
    <div class="input_value">
        {{ parent() }}
    </div>
{%- endblock radio_widget -%}

{%- block textarea_widget -%}
    <div class="input_value">
        {{ parent() }}
    </div>
{%- endblock textarea_widget -%}

{%- block vich_image_widget -%}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_row(form.file) }}
            {% if form.delete is defined %}
                {{ form_row(form.delete) }}
            {% endif %}

            {% if download_uri is defined and download_uri %}
                <a href="{{ download_uri }}"><img src="{{ download_uri | admin_image_crop }}" alt="" /></a>
            {% endif %}
        </div>
    {% endspaceless %}
{%- endblock -%}

{%- block widget_attributes -%}
    {% set attr = attr | merge({ 'class': (attr.class | default('') ~ ' ' ~ form.vars.block_prefixes[1]) | trim }) %}
    {{ parent() }}
{%- endblock widget_attributes -%}
