{% extends 'bootstrap_3_layout.html.twig' %}

{%- block collection_widget -%}
    {% if attr.class is defined and attr.class %}
        {%- set attr = attr|merge({'class': attr.class ~ ' collection'}) -%}
    {% else %}
        {%- set attr = attr|merge({'class': 'collection'}) -%}
    {% endif %}
    {% if allow_add %}
        {%- set attr = attr|merge({'data-allow-add': 1}) -%}
    {% endif %}
    {% if allow_delete %}
        {%- set attr = attr|merge({'data-allow-delete': 1}) -%}
    {% endif %}
    {% if prototype is defined %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
    {% endif %}
    {{- block('form_widget') -}}
{%- endblock collection_widget -%}

{% block darvin_admin_dropzone_widget %}
    {% if form.vars.data %}
        {% for image in form.vars.data if image.id and image_exists(image) %}

            {% include 'DarvinAdminBundle:form:image.html.twig' %}

        {% endfor %}
    {% endif %}
    {{ form_widget(form) }}
{% endblock %}

{% block darvin_image_image_widget %}
    {% if form.vars.data and image_exists(form.vars.data) %}

        {% include 'DarvinAdminBundle:form:image.html.twig' with {
            'image': form.vars.data,
        } %}

    {% endif %}
    {{ form_widget(form) }}
{% endblock %}

{%- block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label')|trim}) -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif %}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif %}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
            {% if darvin_admin_info %}<span>{{ darvin_admin_info|trans({}, translation_domain) }}</span>{% endif %}
        </label>
    {%- endif -%}
{%- endblock form_label -%}

{% block form_row -%}
    <div class="row form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}

{%- block widget_attributes -%}
    id="{{ id }}" name="{{ full_name }}"
    {%- if read_only and attr.readonly is not defined %} readonly="readonly"{% endif -%}
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {%- set class = attr.class is defined ? attr.class ~ ' ' ~ form.vars.block_prefixes[1] : form.vars.block_prefixes[1] -%}
    {%- set attr = attr | merge({ 'class': class }) -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock widget_attributes -%}
