{% trans_default_domain 'admin' %}

<div class="image" data-id="{{ image.id }}">
    <a class="colorbox" href="{{ image|image_original }}" rel="images" title="{{ image.name }}">
        <img src="{{ image|image_crop('darvin_admin') }}">
    </a>
    <div class="image_delete_cont">
        <a class="image_delete" data-url="{{ path('darvin_image_image_delete', {'id': image.id}) }}" href="#">
            {% trans %}image.action.delete.submit{% endtrans %}
        </a>
    </div>
</div>