{% import _self as this %}

{% form_theme form '@DarvinAdmin/form/fields.html.twig' %}

{% trans_default_domain 'admin' %}

{% macro submit(form) %}
    <div class="table_view_content">
        {% for row in form if 'submit' == row.vars.block_prefixes[1] %}
            {{ form_row(row) }}
        {% endfor %}
    </div>
{% endmacro %}

{% set submit = this.submit(form) %}

<div class="edit_container">
    {{ form_errors(form) }}
    {{ form_start(form, {'attr': ajax_form is defined and ajax_form ? {'class': 'js-ajax', 'data-reload-page': 1} : {}}) }}
    {% if show_top_buttons is not defined or show_top_buttons %}
        <div class="table_view_content">
            {{ submit }}
        </div>
    {% endif %}
    {% for name, fields in field_groups %}
        <div class="edit_block spoiler_container">
            <div class="edit_header spoiler_links">
                <div class="edit_header_name">
                    <p>{{ (meta.baseTranslationPrefix ~ 'field_group.' ~ name)|trans }}</p>
                </div>
            </div>
            <div class="edit_content spoiler_body">
                <div class="table_view_content">
                    {% for field, attr in fields if form[field] is defined %}
                        {{ form_row(form[field]) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="table_view_content">
        {{ form_rest(form) }}
        {{ submit }}
    </div>
    {{ form_end(form) }}
</div>
