{% trans_default_domain 'admin' %}

<div class="edit_container">
    {{ form_errors(form) }}
    {{ form_start(form, { 'attr': ajax_form is defined and ajax_form ? { 'class': 'ajax' } : {} }) }}
    {% for name, fields in field_groups %}
        <div class="edit_block spoiler_container">
            <div class="edit_header spoiler_links">
                <div class="edit_header_name">
                    <p>{{ (meta.baseTranslationPrefix ~ 'field_group.' ~ name) | trans }}</p>
                </div>
            </div>
            <div class="edit_content spoiler_body">
                <div class="table_view_content">
                    {% for field, attr in fields %}
                        {{ form_row(attribute(form, field)) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}

    {% block pre_end %}{% endblock %}

    <div class="table_view_content">
        {{ form_end(form) }}
    </div>
</div>
