{% trans_default_domain 'admin' %}

{% set pagination = pagination|default %}

{% if view.body.rows is empty %}
    <h3 class="text-danger">{% trans %}interface.empty_list{% endtrans %}</h3>
{% else %}

    {% set pagination_html = pagination ? knp_pagination_render(pagination) : '' %}

    {{ pagination_html|raw }}
    <p>{% trans with {'%count%': entities_count} %}interface.total_item_count{% endtrans %}</p>
    <div class="scroll-pane horizontal-only">
        <div class="property_forms section_table">
            <table>
                <thead>
                    <tr>
                        {% for field, item in view.head.items if item.width %}
                            <th colspan="{{ item.width }}">
                                {% if pagination and item.sortable %}
                                    {{ knp_pagination_sortable(pagination, item.content|trans, item.sortablePropertyPath) }}
                                {% else %}
                                    {{ item.content|trans }}
                                {% endif %}
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in view.body.rows %}
                        <tr{% for name, value in row.attr %} {{ name }}="{{ value }}"{% endfor %}>
                            {% for item in row.items %}
                                <td>{{ item.content|trans|raw }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {{ pagination_html|raw }}
    <p>{% trans with {'%count%': entities_count} %}interface.total_item_count{% endtrans %}</p>
{% endif %}
