{% form_theme form '@DarvinAdmin/fields.html.twig' %}

{% trans_default_domain 'admin' %}

{{ form_start(form, {'attr': {'class': 'js-form'}}) }}
<div class="content-tabs">
    <div class="content-tabs__container tabs js-tabs">
        <div class="tabs__nav">
            {% for child in form|filter((name, child) => '_token' != name) %}
                <div class="tabs__nav-item">{{ child.vars.label|trans }}</div>
            {% endfor %}
        </div>
        <div class="tabs__content">
            {% for child in form|filter((name, child) => '_token' != name) %}
                <div class="tabs__content-item">
                    <div class="form-settings">
                        {% for row in child %}
                            {{ form_row(row) }}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<button id="{{ form.vars.id }}_submit" type="submit" style="display: none;"></button>
{{ form_end(form) }}
